.animations {
  .calltoaction {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: #ffc300;
    border-radius: 5px;
    color: #003566;
    box-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
  }

  .loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffbe0b;
    border-radius: 50px;
    color: #fff;
  }
}
