.list {
  margin-bottom: 20px;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background: #dde5b6;
  font-size: 18px;
}

.list-add {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #6c584c;
  color: #fff;
  font-size: 24px;
}

.list-overlay {
  padding: 10px;
  background: rgba(#6c584c, 0.5);
  backdrop-filter: blur(2px);
  color: #fff;
  text-align: center;
}
